<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto skola Signal</title>
    <style>
      .banner-image {
        background-size: cover;
        background-image: url(" {{ url_for('static', filename='img/banner-image') }}");
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/edit.css')}}"
    />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark p-md-3">
      <div class="container-fluid">
        <a href="/">
          <img
            class="logo"
            src="{{url_for('static',filename='img/steering-wheel.png')}}"
            alt=""
            width="50px"
            height="50px"
          />
        </a>

        <a href="/" class="navbar-brand mb=0 h1"> Auto skola Signal</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          onclick="background()"
          onload="removeBackground()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a href="/" class="nav-link active"> POCETNA </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"> O NAMA </a>
            </li>
            <li class="nav-item">
              <a href="/info" class="nav-link"> VOZILA I TIM </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"> KONTAKT </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="container translate">
        <div id="translate" class="content text-center">
          <h1 class="text-white">Dobrodosli u auto školu!</h1>
          <style>
            .transform {
              transform: translateX(-200%);
              color: red;
            }
            .to_animate {
              animation-name: fadeparagraf;
              animation-duration: 2s;
            }
            @keyframes fadeparagraf {
              0% {
                transform: translateX(-150%);
              }
              100% {
                transform: translateX(0%);
              }
            }
          </style>

          <p class="text-grey fs-5 mb-3">
            Autoškola je online sustav koji vam pomaže da lakše pripremite svoje
            kandidate za polaganje ispita iz Prometnih propisa i sigurnosnih
            pravila.
          </p>
          <a href="#kontakt">
            <button type="button" class="btn btn-lg btn-success">
              Kontakt
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <h1 class="text-center mb-5 fade_from_left_to_right transform">O NAMA</h1>
      <p class="text-about fs-5 mb-3 fade_from_left_to_right transform">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora,
        soluta, ipsa molestiae voluptate sit ab voluptatem assumenda voluptatum,
        quod atque obcaecati iure. Nihil iusto vero quos ad! Quidem beatae
        provident consectetur, esse ratione delectus iure aliquid facilis?<br />
        Autem expedita eum suscipit cumque illo voluptatem facilis placeat
        voluptate tempora dolores delectus quas, optio distinctio, perspiciatis
        exercitationem velit atque corrupti.<br />
        Molestias numquam asperiores ullam voluptates, porro quasi iure. Dicta
        sequi porro accusamus vel temporibus optio similique. Modi tempore quae
        excepturi ducimus officiis quia ad aperiam deleniti! Quo odit nulla,
        vero architecto molestias modi. Molestias autem at consequatur
        consequuntur eius laudantium minus eum?
      </p>

      <script type="text/javascript"></script>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script>
      var nav = document.querySelector("nav");
      let is_opened = false;
      window.addEventListener("scroll", function () {
        if (window.pageYOffset > 50) {
          nav.classList.add("bg-dark", "shadow");
        } else if (is_opened == false) {
          nav.classList.remove("bg-dark", "shadow");
        } else {
          nav.classList.add("bg-dark", "shadow");
        }
      });
      function background() {
        if (is_opened == false) {
          nav.classList.add("bg-dark", "shadow");
          is_opened = true;
        } else if (window.pageYOffset < 100) {
          setTimeout(function () {
            nav.classList.remove("bg-dark", "shadow");
            is_opened = false;
          }, 125);
        }
      }
      nav.addEventListener("load", function () {
        nav.classList.add("bg-dark", "shadow");
      });
    </script>

    <script type="text/javascript">
      function delay(milliseconds) {
        return new Promise((resolve) => {
          setTimeout(resolve, milliseconds);
        });
      }

      function getOffset(el) {
        const rect = el.getBoundingClientRect();
        return {
          left: rect.left + window.scrollX,
          top: rect.top,
        };
      }

      const p = document.getElementsByClassName("fade_from_left_to_right");

      addEventListener("load", async function () {
        for (let i = 0; i < p.length; i++) {
          console.log(getOffset(p[0]).top);
          if (getOffset(p[i]).top < 680) {
            await delay(50);
            p[i].classList.remove("transform");
            p[i].classList.add("to_animate");
          }
        }
      });

      addEventListener("scroll", async function () {
        for (let i = 0; i < p.length; i++) {
          console.log(getOffset(p[0]).top);
          if (getOffset(p[i]).top < 680) {
            await delay(50);
            p[i].classList.remove("transform");
            p[i].classList.add("to_animate");
          }
        }
      });
    </script>
  </body>
</html>
