{% extends "base.html" %} {% block header %}
<div id="translate" class="content text-center">
  <h1 class="text-white">Dobrodosli u auto školu</h1>
  <p class="text-grey fs-5 mb-3">
    Autoškola je online sustav koji vam pomaže da lakše pripremite svoje
    kandidate za polaganje ispita iz Prometnih propisa i sigurnosnih pravila.
  </p>
  <button
    onclick="window.location.href = '/prijava' "
    type="button"
    class="btn btn-lg btn-success"
  >
    Registriraj se
  </button>
</div>

{% endblock %}{% block content %}
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>
<p>udgfosjngn</p>

{% endblock %}
