{% extends "base.html" %} {% block header %}
<div id="translate" class="content text-center">
  <h1 class="text-white">Dobrodosli u auto školu!</h1>
  <style>
    .red {
      color: red;
    }
    .to_animate {
      animation-name: fadeparagraf;
      animation-duration: 2s;
    }
    @keyframes fadeparagraf {
      0% {
        transform: translateX(-150%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  </style>

  <p class="text-grey fs-5 mb-3">
    Autoškola je online sustav koji vam pomaže da lakše pripremite svoje
    kandidate za polaganje ispita iz Prometnih propisa i sigurnosnih pravila.
  </p>
  <a href="#kontakt">
    <button type="button" class="btn btn-lg btn-success">Kontakt</button>
  </a>
</div>

{% endblock %}{% block content %}
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate">udgfosjngn</p>
<p class="to_animate" id="kontakt">udgfosjngn</p>

<script type="text/javascript"></script>

{% endblock %}
