{% extends 'base.html' %} {% block title %} Registrujte se {% endblock %}{%
block head %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/signupedit.css') }}"
/>
{% endblock %} {% block content %}
<form action="" method="post">
  <div class="signUp">
    <label class="form-label" for="firstname">Unesite ime: </label>
    <input
      type="text"
      name="first_name"
      class="form-control"
      placeholder="Unesite ime"
      required
    />
    <label class="form-label" for="lastname">Unesite prezime: </label>
    <input
      type="text"
      name="last_name"
      class="form-control"
      placeholder="Unesite prezime"
      required
    />
    <label class="form-label" for="email">Unesite email: </label>

    <input
      name="email"
      type="text"
      class="form-control"
      placeholder="Email"
      required
    />
    <label class="form-label" for="email">Unesite broj telefona: </label>
    <input type="tel" name="telephone" class="form-control" />
    <label class="form-label" for="password">Unesite lozinku: </label>

    <input type="password" name="password1" class="form-control" required />
    <label class="form-label" for="password">Potvrdite lozinku: </label>

    <input type="password" name="password2" class="form-control" required />
    <button class="btn btn-primary">Registracija</button>
  </div>
</form>

{% endblock %}
